.container {
  top: 100px;
  margin-top: 100px;
  margin: 0 auto;
  width: 400px;
  height: auto;
  border: 1px solid skyblue;
  border-radius: 5px;
  background: rgb(133, 179, 231);
}

body {
  background: rgb(90, 190, 77);
}
.container input {
  margin-left: 10%;
  margin-top: 15px;
  width: 80%;
  height: 20px;
  border: 1px solid rgb(34, 14, 216);
  border-radius: 5px;
}

#submit {
  font-size: 24px;
  border-radius: 5px;
  width: auto;
  height: auto;
  margin-top: 3%;
  margin-left: 40%;
}

#diff {
  margin: 20px;
  background: blanchedalmond;
  color: black;
}

#optimal {
  width: 100px;
  background: blanchedalmond;
  color: black;
  margin: 35px;
}
